body {
    width: 100%;
    margin: 0 auto;
    background: #000;
    color: #0f0;
    font-family: 'Courier New', monospace;
    font-size: 14px;
}

.content {
    position: absolute;
    width: calc(100% - 200px);
    min-width: 800px;
    margin-left: 100px;
}

.add_form {
    width: 100%;
}

.add_form input {
    position: relative;
    height: 25px;
    float: left;
    margin: 3px;
    width: calc(100% - 64px);
}

.add_form input[type=submit] {
    float: right;
    text-align: center;
    width: 50px;
    height: 56px;
    position: relative;
    top: -31px;
}

table {
    width: 100%;
    margin-bottom: 50px;
    word-break: break-all;
    background: #000;
    border: solid 1px #0f0;
    color: #0f0;
    font-size: 14px;
}

a {
    color: #0a0;
    font-weight: bold;
}

a:hover {
    color: #0f0;
}

td, th {
    padding: 8px;
    text-align: left;
}

tr:nth-of-type(odd) {
    background: #001e00;
}

th {
    background: #0c0;
    color: #000;
    font-weight: bold;
}

input, button, textarea {
    width: 100%;
    height: 20px;
    resize: none;
    border: solid 1px #0f0;
    color: #0f0;
    background: #001e00;
    font-family: 'Courier New', monospace;
    word-break: keep-all;
    font-size: 14px;
}

textarea[disabled] {
    border: 0px;
    background-color: rgba(0,0,0,0);
}

input[type=submit]:hover, button:hover {
    background-color: #003c00;
}


input::-webkit-input-placeholder{
    color: green;
}

input:-moz-placeholder {
    color: green;
}

input[type=submit] {
    width: 120px;
    margin-right: 5px;
}

.login-form {
    background: #098628;
    border: 10px solid #ccffbb;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    padding: 10px;
    width: 250px;
    text-align: center;
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
    margin: auto;
}

.menu {
    position: fixed;
    width: 100%;
    background: #0c0;
    padding: 10px;
    top: 0px;
}

.menu h1 {
    float: left;
    font-size: 18px;
    display: inline;
    margin-right: 50px;
    color: black;
}

.menu a {
    color: #ccffbb;
    font-weight: bold;
}

.menu a:hover {
    color: #fff;
}

.login {
    position: relative;
    float: right;
    width: 325px;
    height: 40px;
    padding: 5px;
}

.login input {
    width: 100px;
}

.change_pass {
    width: 200px;
    left: 50%;
    margin-left: -100px;
    position: relative;
    text-align: center;
}

.small_button {
    width: 25px !important;
    height: 25px !important;
    background-position: center;
    background-repeat: no-repeat;
}

.edit {
    background-image: url("/style/icons/edit.png");
}

.delete {
    background-image: url("/style/icons/delete.png");
}

.ok {
    background-image: url("/style/icons/ok.png");
}

.cancel {
    background-image: url("/style/icons/cancel.png");
}

.up {
    background-image: url("/style/icons/up.png");
}

.down {
    background-image: url("/style/icons/down.png");
}

.search {
    background-image: url("/style/icons/search.png");
}

.add {
    background-image: url("/style/icons/plus.png");
    background-position: center;
    background-repeat: no-repeat;
}

.searchbox {
    width: 300px;
    height: 25px;
    position: absolute;
    top: 40px;
    right: 0px;
}

.search_input {
    width: 268px;
    height: 25px;
    float: left;
    margin-right: 2px;
}