body {

    width: 100%;
    margin: 0 auto;
    background: #000;
    color: #0f0;
    font-family: monospace;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('matrix.png') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

input {
    width: 100%;
    margin-bottom: 3px;
    border: solid 1px #0f0;
    color: #0f0;
    background: #001e00;
    font-family: monospace;
}

input[type=submit] {
    width: 120px;
    margin-right: 5px;
}

input::-webkit-input-placeholder{
    color: green;
}

input:-moz-placeholder {
    color: green;
}


.login-form {
    background: #000;
    border: 1px solid #0c0;
    font-size: 14px;
    padding: 10px;
    width: 250px;
    text-align: center;
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
    margin: auto;
}